<!DOCTYPE html>

<!-- TIGIS Assignment 3 - ArchaeoLogic Visualiser -->
<!-- January 2020 -->
<!-- Student Number 9217953 -->

<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add link to external stylesheet    -->
      <link rel="stylesheet" href="../../style.css">
      <title>ArchaeoLogic Visualiser</title>
  </head>
  <!--     -->
  <body>
    <div class="content">
        <div class="header">
            <h1 id="main_title">ArchaeoLogic</h1>
        </div>
          <div class="column-map">

              <h2>Map of Fields & Finds</h2>
              <h3>Axes labelled in Map Units - Click to Select</h3>

                <!-- Main Container DIV for the SVG Map    -->

                <svg width="{{ g.width }}" height="{{ g.height }}" viewBox="{{ g.viewBox_custom }}">
                <!-- The SVG Map is rendered dynamically using Jinja2 to access variables in the Python classes associated with Finds & Fields
                    Furthermore, the variable "g" is a GraphicsArea class defined in python and containing information on the SVG viewBox, height, and width -->
                <!--<svg width="100%" height="100%" viewBox="{{ g.viewBox_custom }}">-->
                  <!-- The transform(scale(1,-1)) flips the coordinates around the x-axis, and translate relocates the flipped axes in the correct place by shifting
                      by an amount equal to the total SVG viewBox height.  This is done because the SVG co-ordinates are a graphical co-ordinate system and we need to display a
                      geographical co-ordinate system (with origin at bottom left rather than top right...)-->
                    <g id="draw_svg" transform="scale(1,-1) translate(0, -{{ g.viewBox_height }})">
                        <!-- Draw the backgrond grid for the field and find map -->
                        <!-- Two patterns are used : smallGrid to do small gird squares, and grid to render the larger ones with slightly thicker lines    -->
                        <pattern id="smallGrid" width="0.25" height="0.25" patternUnits="userSpaceOnUse">
                            <path d="M 1 0 L 0 0 0 1" fill="none" stroke="#e3effc" stroke-width="0.04"/>
                        </pattern>
                        <pattern id="grid" width="1" height="1" patternUnits="userSpaceOnUse">
                            <rect width="13" height="17" fill="url(#smallGrid)"/>
                            <path d="M 10 0 L 0 0 0 10" fill="none" stroke="#ccddf0" stroke-width="0.1"/>
                        </pattern>
                        <rect class="rect-grid" width="13.03" height="17.03" fill="url(#grid)" />

                        <!-- Loop through the fields and draw the SVG rectangle for each field in the variable "fields" -->
                        <!-- Note that both fields and finds have JS code associated so that when they are clicked, they are toggled between "selected" (appearance changes and information appears) and "unselected"  -->
                        {% for field in fields %}
                            <rect class="field" id="field{{ field.field_id }}" onclick="setFieldSelected(this)" x="{{ field.lowx }}" y="{{ field.lowy }}" width="{{ field.width }}" height="{{ field.height }}" fill="{{ field.fill }}" stroke="black"/>
                        {% endfor %}
                        <!-- Loop through the finds and draw the SVG circle for each find in the varable "finds" -->
                        {% for find in finds %}
                            <circle class="find" id="find{{ find.find_id }}" onclick="setFindSelected(this)" cx = "{{ find.xcoord }}" cy="{{ find.ycoord }}" r="0.4" fill="{{ find.fill }}"/>
                        {% endfor %}
                    </g>
                    <g id="axes">
                      <!-- The following 2 loops go through the x and y co-ordinates and render numbers in the appropriate places (using x,y co-ordinates and "translate" to tweak the positions)    -->
                        {% for x in range(g.viewBox_width-2) %}
                        <text class="x_axis_label" transform="translate(-0.1, 0)" x="{{ x }}" y="{{ g.viewBox_height + 0.5 }}" fill="gray" font-size="0.3">{{ x }}</text>
                        {% endfor %}
                        {% for y in range(g.viewBox_height) %}
                        <text class="y_axis_label" transform="translate(0, 0.1)" x="{{ -0.7 }}" y="{{ g.viewBox_height-y }}" fill="gray" font-size="0.3">{{ y }}</text>
                        {% endfor %}

                    </g>
                    <g id="text_numbers">
                        <!-- The following 2 loops go through the fields and finds and render numbers in the appropriate places (using x,y co-oridinates and "translate" to tweak the positions)      -->
                        {% for field in fields %}
                            <text id="text_field{{ field.field_id }}" class="field_number" transform="translate(-0.2, 0)" x="{{ field.centroidx }}" y="{{ g.viewBox_height-field.centroidy }}" font-size="0.5">{{field.field_id}}</text>
                        {% endfor %}
                        {% for find in finds %}
                            <text id="text_find{{ find.find_id }}" class="find_number" onclick="setFindSelected(find{{ find.find_id }})" transform="translate(-0.15, 0.2)" x="{{ find.xcoord }}" y="{{ g.viewBox_height-find.ycoord }}" font-size="0.5">{{find.find_id}}</text>
                        {% endfor %}
                    </g>
                </svg>

                <!--  Render three buttons, each with JS functions triggered when clicked, to clear and reset the various page elements   -->
                <div class="centering">
                  <input class="button" type="button" name="clear_map" value="Clear Map" onclick="clearMap()">
                  <input class="button" type="button" name="clear_tables" value="Clear Tables" onclick="clearTables()">
                  <input class="button" type="reset" value="Reset All..." onclick="resetForms()">
                </div>
            </div>

            <!--  The main container DIV for the Search and Query Forms  -->
          <div class="column-form">

              <!-- The most basic search form, showing 2 dropdown menus to select by Farmer and/or Crop     -->

              <p class="instructions_text">Basic Search - Select items matching the following criteria:</p>
              <form id="main_form" name="main_form" action="#" method="post" onsubmit="return processForm(this)">
                  <div class="form_elements">

                      <!--  Fieldsets are used to group similar form elements together     -->
                      <fieldset class="selectors">

                          <!--  Dropdown menus are rendered by looping through the required variable and creating an "option" for each one     -->
                            <select class="dropdown" name="option1">
                                  <option selected disabled>Field Owner...</option>
                              {% for owner in unique_owners %}
                                  <option value="{{owner}}">{{ owner.title() }}</option>
                              {% endfor %}
                            </select>
                            <select class="dropdown" name="option2">
                                    <option selected disabled>Crop Type...</option>
                                {% for crop in crops %}
                                    <option value="{{crop.name}}">{{ crop.name.title() }}</option>
                                {% endfor %}
                            </select>
                      </fieldset>
                  </div>
                  <div>
                      <br>
                      <br>
                      <p></p>
                      <!--  Render the buttons that will control the form above     -->
                        <p class="instructions_text">Match...</p>
                        <fieldset class="radio_button_fieldset">
                          <input class="radio_button" type="radio" name="and_or" id="select_or" checked value="ANY">Any<br>
                          <input class="radio_button" type="radio" name="and_or" id="select_and" value="ALL">Both<br>
                          <br>
                        </fieldset>
                      <fieldset class="buttons">
                          <input class="button_right" type="submit" value="Search...">
                      </fieldset>
                  </div>
              </form>

              <!-- The first spatial search form, which triggers the JS function "processSpatialForm()", and passes the form itself through to the function.
              The layout is similar to the above, but x and y coordinates are rendered up to the values of the highest
              coordinates of any find (calculated in the python code and passed through using Jinja2)
              This ensures that the values in the dropdown menus are sensible and cover all necessary values.
              NOTE:  +1 is added to each list because of the index values starting at 0 and only
              reaching up to the (length of the list - 1). -->

              <form id="spatial_form" name="spatial_form" action="#" method="post" onsubmit="return processSpatialForm(this)">
                  <div class="form_elements">
                    <br>
                    <hr>

                    <p class="instructions_text">Spatial Search - Select finds within an area:</p>
                      <fieldset class="selectors">
                          <select class="dropdown" name="lowleftx">
                                <option selected disabled>Lower Left X Coordinate</option>
                            {% for xcoord in range(0,max_find_coords[0]+1) %}
                                <option value="{{xcoord}}">{{ xcoord }}</option>
                            {% endfor %}
                          </select>
                          <select class="dropdown" name="lowlefty">
                                <option selected disabled>Lower Left Y Coordinate</option>
                            {% for ycoord in range(0,max_find_coords[1]+1) %}
                                <option value="{{ycoord}}">{{ ycoord }}</option>
                            {% endfor %}
                          </select>
                      </fieldset>
                      <fieldset class="selectors">
                          <select class="dropdown" name="highrightx">
                                <option selected disabled>Upper Right X Coordinate</option>
                            {% for xcoord in range(0,max_find_coords[0]+1) %}
                                <option value="{{xcoord}}">{{ xcoord }}</option>
                            {% endfor %}
                          </select>
                          <select class="dropdown" name="highrighty">
                                <option selected disabled>Upper Right Y Coordinate</option>
                            {% for ycoord in range(0,max_find_coords[1]+1) %}
                                <option value="{{ycoord}}">{{ ycoord }}</option>
                            {% endfor %}
                          </select>
                      </fieldset>
                  </div>
                  <div>
                      <fieldset class="buttons">
                          <input class="button_right" type="submit" value="Search...">
                          <br>
                      </fieldset>
                  </div>
              </form>

              <!-- The second spatial search form.  This is very similar to the first, but calls the functions
              "processSpatialForm2()" instead, and again passes the form itself through to the function so that it has
              access to the user input -->

              <form id="spatial_form2" name="spatial_form2" action="#" method="post" onsubmit="return processSpatialForm2(this)">
                  <div class="form_elements">
                    <br>
                    <hr>

                    <p class="instructions_text">Spatial Search - Select finds within a radius of a point:</p>
                      <fieldset class="selectors">
                          <select class="dropdown" name="centre_x">
                                <option selected disabled>Centre Point X</option>
                            {% for xcoord in range(0,max_find_coords[0]+1) %}
                                <option value="{{xcoord}}">{{ xcoord }}</option>
                            {% endfor %}
                          </select>
                          <select class="dropdown" name="centre_y">
                                <option selected disabled>Centre Point Y</option>
                            {% for ycoord in range(0,max_find_coords[1]+1) %}
                                <option value="{{ycoord}}">{{ ycoord }}</option>
                            {% endfor %}
                          </select>
                      </fieldset>
                      <fieldset class="selectors">
                          <select class="dropdown" name="radius">
                                <option selected disabled>Radius</option>
                            {% for xcoord in range(0,max_find_coords[0]+1) %}
                                <option value="{{xcoord}}">{{ xcoord }}</option>
                            {% endfor %}
                          </select>
                      </fieldset>
                  </div>
                  <div>
                      <fieldset class="buttons">
                          <input class="button_right" type="submit" value="Search...">
                          <br>
                      </fieldset>
                  </div>
              </form>


          </div>

          <!--  The main container DIV for the Field and Find Tables to display all the necessary information
          on whichever fields and finds are selected  -->

          <div class="column-table">

          <!--  These tables are created dynamically, again by looping through variables and adding rows for each field and find.
          The key is that by default they are rendered with class="hidden", which means they are not visible on the screen.  When
          a given entity is selected by the user or by JS code, the class attribute is altered to remove "hidden", and "find_selected"
          or "field_selected" is added instead -->

          <!-- RENDER FIELD INFORMATION IN TABLE FORM   -->

                <div class="field_table" id="field_table1">
                        <h2>Field Information</h2>
                        <table>
                            <tr>
                                <th>Field Number</th>
                                <th>Owner</th>
                                <th>Lower Left</th>
                                <th>Upper Right</th>
                                <th>Area</th>
                                <th>Crop Number</th>
                                <th>Crop Name</th>
                                <th>Contains Find(s)</th>
                            </tr>
                            {% for field in fields %}
                                <tr class="hidden" id="tablerow_field{{field.field_id}}">
                                    <td class="field_number"> {{field.field_id}} </td>
                                    <td class="owner"> {{field.owner.title()}}</td>
                                    <td class="lower_left"> {{field.lowx}}, {{field.lowy}} </td>
                                    <td class="upper_right"> {{field.hix}}, {{field.hiy}} </td>
                                    <td class="area"> {{field.area}} </td>
                                    <td class="crop_number"> {{field.crop_id}}</td>
                                    <td class="crop_name" style="background-color:{{field.fill}}"> {{field.crop_name.title()}}</td>
                                    <td class="finds_in_this_field"> {% for find in field.finds_in_this_field %} ({{find}}) {% endfor %}</td>
                                </tr>
                            {% endfor %}
                        </table><br>
                </div>

                <!-- RENDER FIND INFORMATION IN TABLE FORM   -->

               <div class="find_table" id="find_table1">
                <h2>Find Information</h2>
                    <table>
                        <tr>
                            <th>Find Number</th>
                            <th>X</th>
                            <th>Y</th>
                            <th>Type</th>
                            <th>Class</th>
                            <th>Depth</th>
                            <th>Is In Field(s)</th>
                            <th>Field Notes</th>
                        </tr>
                        {% for find in finds %}
                            <tr class="hidden" id="tablerow_find{{find.find_id}}">
                                <td class="find_number"> {{find.find_id}} </td>
                                <td class="x" id="find{{find.find_id}}_xcoord"> {{find.xcoord}} </td>
                                <td class="y" id="find{{find.find_id}}_ycoord"> {{find.ycoord}} </td>
                                <td class="find_type"> {{find.find_type}} </td>
                                <td class="find_class_name" style="background-color:{{find.fill}}"> {{find.class_name.title()}} </td>
                                <td class="depth"> {{find.depth}} </td>
                                <td class="in_which_fields">{% for field in find.in_which_fields %} ({{field}}) {% endfor %}</td>
                                <td class="field_notes"> {{find.field_notes.title()}} </td>
                            </tr>
                        {% endfor %}
                    </table><br>
                </div>
            </div>

            <!-- A basic footer with design, author,  and date information   -->

            <div class="footer">
                <p>designed by student number 9217953, january 2020</p>
            </div>
    </div>
    <script type="text/javascript" src="../../main.js"></script>
  </body>
</html>
